# Copy default Raspberry Pi kernel config
CONFIG_ARM64=y
CONFIG_ARCH_BCM2835=y
CONFIG_ARCH_BCM2836=y
CONFIG_ARCH_BCM2837=y
CONFIG_ARCH_BCM2711=y
CONFIG_RPI_4=y
CONFIG_RPI_5=y
CONFIG_ARM_PSCI=y
CONFIG_ARM64_UEFI=y
CONFIG_KERNEL_MODE_NEON=y
CONFIG_ARM_LPAE=y
CONFIG_KERNEL_GZIP=y
CONFIG_FIRMWARE_IN_KERNEL=y
CONFIG_VT=y
CONFIG_VT_CONSOLE=y
CONFIG_FB=y
CONFIG_FB_TFT=y
CONFIG_VIDEO_BCM2835=y
CONFIG_VIDEO_V4L2_SUBDEV_API=y
CONFIG_VIDEO_V4L2=y
CONFIG_V4L2_MEM2MEM_DEVICES=y
CONFIG_CGROUPS=y
CONFIG_BLK_DEV_INITRD=y
CONFIG_INITRAMFS_SOURCE=""
CONFIG_INITRAMFS_LIST=""
CONFIG_RD_GZIP=y
